---
interface Props {
  href?: string;
}

const { href } = Astro.props;
---

<li>
  <a
    class="h-10 flex gap-5 fill-zinc-400 text-zinc-400 hover:text-zinc-100 hover:fill-zinc-100 items-center py-1 px-3"
    href={href}
  >
    <slot />
  </a>
</li>
